- name: Configure grafana application directories and setup
  hosts: localhost
  gather_facts: false
  vars:
    APPNAME: "/grafana"
    PERMISSION_APPNAME: grafana
    BINARY: "{{ APPNAME }}/prod/apps/bin/"
    CONFIG: "{{ APPNAME }}/prod/apps/etc/"
    DATAPATH: "{{ APPNAME }}/prod/apps/data/"
    LOGFILE: "{{ APPNAME }}/prod/apps/logs/"
    GRAFANA_VERSION: "12.2.1"
    GRAFANA_ARCHIVE: "grafana-enterprise_12.2.1_18655849634_linux_amd64.tar.gz"
    GRAFANA_FOLDER: grafana-enterprise_12.2.1_18655849634_linux_amd64
    GRAFANA_URL: "https://dl.grafana.com/grafana-enterprise/release/{{ GRAFANA_VERSION }}/{{ GRAFANA_ARCHIVE }}"
    GRAFANA_ARCHIVE_DEST: "{{ BINARY }}/{{ GRAFANA_ARCHIVE }}"
    EXTRACTION_PATH: "{{ BINARY }}/{{ GRAFANA_FOLDER }}"

  tasks:
    - name: remove symbolic link for prometheus directory
      ansible.builtin.file:
        path: "{{ BINARY }}/grafana"
        state: absent

    - name: Create symbolic link for grafana directory
      ansible.builtin.file:
        src: "{{ EXTRACTION_PATH }}"
        dest: "{{ BINARY }}/grafana"
        state: link
